.App {
  text-align: center;
}

.app__form{
  position: fixed;
  bottom: 0;
  padding: 10px 0px;
  z-index: 9;
  width: 100%;
  background: #e9e9e9;
}


.form__content{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  width: 100%;
}
Input{
  flex: 1;
}
Button:hover{
  background: #9b8282;
}
Button:disabled{
  background: none;
}
@media screen and (max-width: 640px){
  Input{
    width: 100px;
  }
}